<nav id="nav">
  <ul class="menu" role="menu">
    {{#each nav as |navitem|}}
    {{#if navitem.megamenu}}
    <li class="menu__item menu__item--megamenu">
      <a href="#" class="menu__link" role="menuitem">Link</a>
      {{> navigation/megaMenu navitem=navitem}}
    </li>
    {{else}}
    <li class="menu__item">
      <a href="#" class="menu__link" role="menuitem">Link</a>
    </li>
    {{/if}}
    {{/each}}
  </ul>
</nav>