<ul class="megamenu__items" aria-hidden="true">
  {{#each navitem.children as |item| }}
  {{> navigation/megaMenuItem item=item }}
  {{/each}}
  <li class="megamenu__item megamenu__item--back"><button class="megamenu__back-button">Go back</button></li>
</ul>