<div class="megamenu__content">
  <div class="megamenu__inner">
    <span class="megamenu__title">{{ content.title }}</span>
    <a href="{{ content.cta }}" class="button">Find out more</a>
    <button class="megamenu__item megamenu__back-button">Go back</button>
  </div>
</div>