<ul class="megamenu__items" aria-hidden="true">
  {{#each navitem.children as |item| }}
  {{> navigation/megaMenuItem item=item }}
  {{/each}}
  <button class="megamenu__item megamenu__back-button">Go back</button>
</ul>