#header {
  background: color(primary, tone1);
  color: white;

  .header {
    &__inner {
      display: flex;
      align-items: center;
    }

    &__logo {
      max-width: 150px;
      margin-right: 2rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
