.megamenu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background: #eee;
  overflow: hidden;

  &.active {
    display: block;
  }

  &__items,
  &__content {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: color(primary, tone2);
    list-style: none;

    @include mq(md) {
      left: 100%;
    }

    .megamenu > & {
      position: relative;
      left: 0;
      height: 100%;

      @include mq(md) {
        width: 25%;
      }
    }

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  &__items {
    &.active {
      ~ a {
        background: color(primary, tone3);
      }
    }
  }

  &__content {
    text-align: center;

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__link {
    display: block;
    padding: 1rem;

    &:hover,
    &:focus {
      background: color(primary, tone3);
    }
  }

  &__back-button {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 0;
    margin-top: auto;
    background: color(secondary, tone1);
    color: white;
    text-align: left;

    @include mq(md) {
      display: none;
    }
  }
}
