.megamenu {
  display: none;
  position: absolute;
  left: 0;
  width: 100vw;
  max-width: $siteWidth;
  background: #eee;
  overflow: hidden;

  &.active {
    display: block;
  }

  &__items {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    background: #ddd;
    list-style: none;

    .megamenu > & {
      position: relative;
      left: 0;
      width: 25%;
      height: 100%;
    }

    &.active {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 1rem;
    background: #ddd;

    &:hover,
    &:focus {
      background: #aaa;
    }
  }
}
